{% extends 'layouts/two-column.html.twig' %}

{% block title %}Edit Course{% endblock %}

{% block content %}
    <h1>Edit Course</h1>

    {{ include('course/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('course_index') }}">back to list</a>

    <a href="{{ path('course_delete', {'id': course.id}) }}">delete</a>
{% endblock %}
