{% extends 'layouts/two-column.html.twig' %}

{% block title %}Edit Student{% endblock %}

{% block content %}
    <h1>Edit Student</h1>

    {{ include('student/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('student_index') }}">back to list</a>

    <a href="{{ path('student_delete', {'id': student.id}) }}">delete</a>
{% endblock %}
