<form method="post" action="{{ path('project_people_delete', {'id': project_person.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project_person.id) }}">
    <button class="btn">Delete</button>
</form>
